@model Invoice.Client.Models.CreateInvoiceViewModel

@{
    ViewData["Title"] = "Gerar Fatura";
}

<h1>Gerar Fatura</h1>
<hr />
<form asp-action="Print" id="form">
    <div class="row">
        <div class="col-sm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <label class="control-label">Cliente</label>
                    </div>
                    <div class="card-body row">
                        <div class="form-group col-md-4 col-lg-4 col-xl-4">
                            <select asp-for="Invoice.Client" asp-items="@Model.Customers" >
                                <option value="@null">Selecione</option>
                            </select>
                            <label asp-for="Client.Name" class="control-label"></label>
                            <input asp-for="Client.Name" class="form-control " />
                            <span asp-validation-for="Client.Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12">
                <h4>Fatura</h4>
                <div class="card mb-3">
                    <div class="card-header">
                        <label class="control-label">Dados</label>
                    </div>
                    <div class="card-body row">
                        <div class="form-group col-md-4 col-lg-4 col-xl-4">
                            <label asp-for="Invoice.Number" class="control-label"></label>
                            <input asp-for="Invoice.Number" type="number" min="0" class="form-control " />
                            <span asp-validation-for="Invoice.Number" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4 col-lg-4 col-xl-4">
                            <label asp-for="Invoice.Commitment" class="control-label"></label>
                            <input asp-for="Invoice.Commitment" class="form-control " />
                            <span asp-validation-for="Invoice.Commitment" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4 col-lg-4 col-xl-4">
                            <label asp-for="Invoice.Date" class="control-label"></label>
                            <input asp-for="Invoice.Date" type="date" class="form-control " />
                            <span asp-validation-for="Invoice.Date" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4 col-lg-4 col-xl-4">
                            <label asp-for="Invoice.ServicePeriod" class="control-label"></label>
                            <input asp-for="Invoice.ServicePeriod" type="text" class="form-control "/>
                            <span asp-validation-for="Invoice.ServicePeriod" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-xl-12">
                            <label asp-for="Invoice.Observation" class="control-label"></label>
                            <textarea asp-for="Invoice.Observation" type="text" class="form-control " rows="2"></textarea>
                            <span asp-validation-for="Invoice.Observation" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <label asp-for="Invoice.Products" class="control-label"></label>
                    </div>
                    <div class="card-body">
                        <div id="productsContainer">
                            @Html.EditorFor(model => model.Invoice.Products)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="row justify-content-between rigth">
                    <div class="col-4 col-sm-4 ">
                    </div>
                    <div class="col-4 col-sm-4">
                        <input type="button" id="btnAdd" value="Novo Item" class="btn btn-outline-info" />
                    </div>
                    <div class="col-4 col-sm-4 ">
                        <input class="btn btn-primary" type="submit" value="Gerar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}