@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerador de Faturas</h1>
    <img src="~/LOGO.jpg"/><p>Bem vindo!</p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Home">Gerar Fatura</a>
</div>
